
{# MODAL #}
<div id="account-detail-modal" class="account-details-modal-main-wrapper">
        <div class="account-details-modal-background row">
            <div class="d-flex flex-column form-wrapper my-auto mx-auto col-10 lg-6 pl-0 pr-0" id="account-details-modal-content-container">
                <div class="account-detail-block">
                    <a id="account-detail-modal-dismiss" href="#" class="close"></a>
                        <h1 class="title-h4-black margin-top-18px p-0" id="account-detail-title">Changer </h1>
                    <div class="separator-login-title"></div>

                    <form method="post" class="d-flex flex-column p-4">
                        <div class="form-group mt-2">
                            <div id="account-details-modal-error-placeholder"></div>
                            <label id="account-detail-label" for="account-detail-input">Email:</label>
                            <input class="form-control border-radius-10" type="text" id="account-detail-input" name="dataToChange" value="" />
                        </div>
                        <button id="account-detail-submit-button" class ="btn btn-midnight-blue mt-4 mb-3" type="submit">Enregistrer les modifications</button>
                    </form>

                </div>

            </div>
        </div>
</div>
