<ul class="dropdown-menu">
    {% for category in categories %}
        {% if category.parent == false %}
            <li><a class="dropdown-item dropdown-toggle" href="{{ path('category_show', {'id': category.id}) }}">{{ category.name }}</a>
                <ul class="submenu dropdown-menu">
                    {% for subCategory in category.children%}
                        <li><a class="dropdown-item" href="{{ path('category_show', {'id': subCategory.id}) }}">{{ subCategory.name }}</a></li>
                    {% endfor %}
                </ul>
            </li>
        {% endif %}
    {% endfor %}
</ul>
